<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>HTMX & Go - Demo</title>
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <div
            class="image-container"
            hx-trigger="load"
            hx-push-url="/detail?path={{ .FilePath }}"
        >
            <div class="image-item">
                <h1>Pictures taken by Migada Perera</h1>
                <img src="/{{ .FilePath }}" alt="{{ .Description }}" />
                <h2 class="center-text" style="color: #ebdbb2">
                    Description: {{ .Description }}
                </h2>
                <h2 class="center-text" style="color: #ebdbb2">
                    ISO: {{ .ISO }}
                </h2>
                <h2 class="center-text" style="color: #ebdbb2">
                    Shutter Speed: {{ .ShutterSpeed }}s
                </h2>
                <h2 class="center-text" style="color: #ebdbb2">
                    Aperture: f {{ .Aperture }}
                </h2>
                <h2 class="center-text" style="color: #ebdbb2">
                    Location: {{ .Location }}
                </h2>
                <button
                    hx-get="/main"
                    hx-target="#theBody"
                    hx-swap="innerHTML"
                    hx-push-url="/main"
                >
                    Home</button
                ><br />
            </div>
        </div>
    </body>
</html>
