<div class="image-container">
    <div class="image-item">
        <div id="titleBox">
            {{ block "titleb" . }}
            <h1 id="title">{{.data }}</h1>
            {{ end }}
        </div>
        <button
            hx-get="/main"
            hx-target="#theBody"
            hx-swap="innerHTML"
            hx-push-url="/main"
        >
            Home
        </button>
        <button
            hx-get="/signup"
            hx-target="#theBody"
            hx-swap="innerHTML"
            hx-push-url="/signup"
        >
            Signup
        </button>
        <button onclick="window.location.href='/logout';">Logout</button>

        <form
            hx-post="/login?data={{ .redir }}"
            hx-target="#title"
            hx-swap="innerHTML"
            hx-push-url="/login"
        >
            <div>
                <label for="username">Username</label>
                <input
                    type="text"
                    name="username"
                    id="username"
                    class="form-control"
                /><br /><br />
            </div>
            <div>
                <label for="password">Password</label>
                <input
                    type="password"
                    name="password"
                    id="password"
                    class="form-control"
                /><br /><br />
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
