<div class="image-container">
    <div class="image-item">
        <div id="titleBox">
            {{ block "titleb" . }}
            <h1 id="titleh">{{.data}}</h1>
            {{ end }}
        </div>
        <button
            hx-get="/main"
            hx-target="#theBody"
            hx-swap="innerHTML"
            hx-push-url="/main"
        >
            Home
        </button>
        <button
            hx-get="/login"
            hx-target="#theBody"
            hx-swap="innerHTML"
            hx-push-url="/login"
        >
            Login
        </button>
        <button onclick="window.location.href='/logout';">Logout</button>
        <form
            hx-post="/signup"
            hx-target="#titleh"
            hx-swap="innerHTML"
            hx-push-url="/signup"
        >
            <div>
                <label for="username">Username</label>
                <input
                    type="text"
                    name="username"
                    id="username"
                    class="form-control"
                /><br /><br />
            </div>
            <div>
                <label for="password">Password</label>
                <input
                    type="password"
                    name="password"
                    id="password"
                    class="form-control"
                /><br /><br />
            </div>
            <button type="submit">Sign Up</button>
        </form>
    </div>
</div>
