<form class="center-item" hx-post="/admin/update/{{ .FilePath }}" hx-target="#title" hx-swap="textContent" hx-replace-url="/admin/">
    <div>
        <label for="Description">Description</label>
        <input type="text" name="description" id="description" class="form-control" value="{{ .Description }}"><br><br>
    </div>
    <div>
        <label for="iso">ISO</label>
        <input type="text" name="iso" id="iso" class="form-control" value="{{ .ISO }}"><br><br>
    </div>
    <div>
        <label for="shutter-speed">Shutter Speed</label>
        <input type="text" name="shutter-speed" id="shutter-speed" class="form-control" value="{{ .ShutterSpeed }}"><br><br>
    </div>
    <div>
        <label for="aperture">Aperture</label>
        <input type="text" name="aperture" id="aperture" class="form-control" value="{{ .Aperture }}"><br><br>
    </div>
    <div>
        <label for="location">Location</label>
        <input type="text" name="location" id="location" class="form-control" value="{{ .Location }}"><br><br>
    </div>
    <button type="submit">Submit</button>
</form>