@font-face {
    font-family: "Berkeley Mono"; /* Assign a name to your font */
    src: url("/static/BerkeleyMonoVariable-Regular.woff2")
        format("woff2"); /* Path to your WOFF2 font file */
}

h1 {
    color: #ebdbb2;
    font-family: "Berkeley Mono", mono;
    font-size: 18;
}

h2 {
    color: #ebdbb2;
    font-family: "Berkeley Mono", mono;
    font-size: 14;
}

body {
    background: #282828;
    margin: 10;
    padding: 10;
    font-family: "Berkeley Mono", mono;
    font-size: 12;
}

p {
    font-family: "Berkeley Mono", mono;
    font-size: 20;
}

.li {
    color: #ebdbb2;
    font-family: "Berkeley Mono", mono;
    font-size: 12;
}

form {
    min-width: 200px;
    margin: 20px auto;
    padding: 20px;
    background: #282828;
    color: #ebdbb2;
    border-radius: 10px;
    font-family: "Berkeley Mono", mono;
    font-size: 10;
}

button {
    background-color: #3c3836;
    color: #ebdbb2;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    font-family: "Berkeley Mono", mono;
    font-size: 10;
}

button:hover {
    background-color: #ebdbb2;
    color: #282828;
    border: none;
    border-radius: 10px;
}

input[type="text"],
input[type="password"] {
    width: 25%;
    background-color: #7c6f64;
    color: #ebdbb2;
    border: none;
    cursor: ponter;
    padding: 10px;
    border-radius: 10px;
    font-family: "Berkeley Mono", mono;
    font-size: 12;
}
input[type="text"],
input[type="password"]:hover {
    width: 25%;
    background-color: #7c6f64;
    color: #ebdbb2;
    border: 2px;
    border-color: #282828;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

input[type="submit"] {
    background-color: #3c3836;
    color: #ebdbb2;
    border: 2px;
    border-color: #fabd2f;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Berkeley Mono", mono;
    font-size: 12;
}

input[type="submit"]:hover {
    background-color: #ebdbb2;
    border-radius: 10px;
    color: #282828;
}

input[type="checkbox"] {
    background: #3c3836;
    accent-color: #3c3836;
    color: #ebdbb2;
}

input[type="checkbox"]:hover {
    background: #ebdbb2;
    accent-color: #ebdbb2;
    border-radius: 10px;
    color: #282828;
}

input[type="file"] {
    background: #458588;
    color: #ebdbb2;
}

input[type="file"]:hover {
    background: #076678;
    color: #ebdbb2;
}

.allimage-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
    max-width: 1400px;
    margin: auto;
}

.allimage-item {
    overflow: hidden;
    position: relative;
}

.allimage-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}

.allimage-item img:hover {
    transform: scale(1.05);
}

.flex-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.grid-item {
    width: 100%;
    height: 100%;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.image-item {
    width: 80%;
    text-align: center;
}

.image-item img {
    max-width: 100%;
    height: auto;
    border-radius: 0px;
}

.image-item p {
    color: #ebdbb2;
    font-family: "Berkeley Mono", mono;
    font-size: 14px;
}

.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.center-text {
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.button-container button {
    padding: 10px 20px;
    font-size: 16px;
}

.center-stuff {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.center-item {
    text-align: center;
}

.center-button-box {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between the elements */
}

.center-button-box span {
    font-size: 16px;
}

.center-button-box button {
    padding: 10px 20px;
    font-size: 16px;
}
